@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.new-about{
    background-color: #151515;
    color: white;
}

.about-body {
    text-align: center;
}

.about-content {
    width: 778px;
    margin: 125px 0px 300px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.about-title {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 100px;
    line-height: 117px;
}

.about-text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}

.about-pictures {
    display: inline-block;
    width: 700px;
    height: 419px;
    margin: 125px 0px 0px 125px;
}

.sliderimg {
    width: 700px;
    height: 419px;
}

.alice-carousel__dots-item {
    background-color: white !important;
}

.alice-carousel__dots-item.__active{
    background-color:  #F1C232 !important;
}

@media screen and (max-width: 1610px) {
    .about-pictures {
        margin: 0px 0px 200px 0px;
    }
    .about-content {
        margin: 125px 0px 100px 0px;
    }
    
}

@media screen and (max-width: 943px) {
    .sliderimg {
        width: 100%;

    }
    .about-pictures {
        display: inline-block;
        width: 100%;
    }
    .about-content {
        width: 100%;

    }
}