@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
.new-home {
    background-color: #151515;
    color: white;
}

.new-home-banner {
    padding: 125px 0px 130px 204px
}

.new-home-blurb-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 100px;
    line-height: 117px;
    text-overflow: none;
}

.new-home-blurb-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    max-width: 927px;
    padding: 40px 0px 50px 0px;
}

.new-home-contact-btn {
    margin: 0px 0px 0px 0px;
    width: 250px;
    height: 60px;
}

.new-home-contact-btn-click {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
    border: 3px solid #F1C232;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #151515;
    color: white;
    height: 55px;
    width: 100%;
}

.new-home-contact-btn-click:hover {
    background-color: #F1C232;
    color: #151515;
}

.hr-line {
    width: 93%;
    background-Color: #9b9696;
    height: .5;
}

.new-home-events {
    color: white;
}

.new-home-events-title {
    padding: 116px 0px 0px 165px;
    font-family: Raleway;
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
}

.new-home-events-content {
    margin: 100px 165px 120px 165px;
}

.new-home-events-content-items {
    margin: 40px 0px;
}

.new-home-events-content-items:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 0.5px solid #9b9696;
}

.new-events-img {
    display: inline-block;
    width: 15%;
}

.new-events-img-cry {
    width: 90px;
    height: 90px;
}

.new-home-events-content-items-info {
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
    /* margin: 0px 170px; */
    /* width: 300px; */
}

.new-home-events-content-items-info-date {
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    color: #868686;
}

.new-home-events-content-items-info-name {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.new-home-events-content-items-blurb {
    display: inline-block;
    /* width: 840px; */
    width: 55%;
    font-family: Open Sans;
    font-weight: 200;
    font-size: 14px;
    vertical-align: bottom;
}

.hr-line-events {
    margin-top: 50px;
    width: 100%;
    background-Color: #9b9696;
    height: .5;
}

#contact-us {
    height: 538.5px;
    color: white;
    margin: 116px 0px 0px 0px;
    text-align: center;
}

.new-home-contact-title {
    font-family: Raleway;
    font-weight: 400;
    font-size: 40px;
}

.new-home-contact-content {
    margin: 0 auto;
}

.textbox-style {
    width: 38%;
}

.textarea-style {
    width: 38%;
    height: 100px;
    margin-bottom: 25px;
}

input[type=text] {
    padding: 10px 0px 20px 0px;
    margin: 0px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #151515;
    color: white;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(145, 143, 143);
}

input[type=text]:focus {
    border-bottom: 1px solid white;
}

textarea {
    padding: 10px 0px 20px 0px;
    margin: 0px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #151515;
    color: white;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(145, 143, 143);
}

textarea:focus {
    border-bottom: 1px solid white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(145, 143, 143);
    opacity: 1;
    /* Firefox */
    font-size: 14px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(145, 143, 143);
    font-size: 14px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(145, 143, 143);
    font-size: 14px;
}

.new-home-contact-content-submit {
    width: 150px;
    margin: 0 auto;
}

.new-home-contact-content-submit-btn {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    border: 3px solid #F1C232;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #151515;
    color: white;
    height: 50px;
    width: 100%;
}

.new-home-contact-content-submit-btn:hover {
    background-color: #F1C232;
    color: #151515;
}

@media only screen and (max-width: 1100px) {
    .textbox-style {
        width: 90%;
    }
    .textarea-style {
        width: 90%;
    }
}

@media only screen and (max-width: 1219px) {
    .new-home-events-content-items-blurb {
        margin-top: 20px;
        width: 100%;
    }
    .new-home-events-content-items-info {
        width: 300px;
        margin-left: 70px;
    }
    .new-events-img {
        width: 90px;
    }
}

@media only screen and (max-width: 807px) {
    .new-home-events-content-items-info {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .new-events-img {
        width: 90px;
    }
}

@media only screen and (max-width: 675px) {
    .new-home-banner {
        padding: 125px 0px 130px 0px;
        text-align: center;
    }
    .new-home-contact-btn {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .new-home-events-title {
        padding: 116px 20px 0px 20px;
        text-align: center;
    }
    .new-home-blurb-content {
        padding: 40px 20px 50px 20px;
    }
    .new-home-events-content {
        margin: 100px 20px 120px 20px;
        text-align: center;
    }
    
}