.home-banner {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    background-color: #FFDE72;
    background-image: linear-gradient(#FFDE72, #FFB479);
    width: 100%;
    height: 720px;
}

.logo {
    position: relative;
    font-size: 24px;
    left: 4%;
    top: 51px;
}

.title {
    text-align: center;
    padding: 0px;
    margin-top: 200px;
}

.titles {
    font-size: 14px;
    margin-bottom: 15px;
}

.titlel {
    font-size: 112px;
    line-height: 108px;
    color: #F0E7FF;
}

.home-body {
    background-color: #FFF8E9;
    width: 100%;
    height: 720px;
}

.img-text{
    width: 52%;
    height: 406px;
    background-color: white;
    position: absolute;
    left: 15%;
    margin-top: 232px;
    border-radius: 5%;
}

.img-title {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 67px;
    background: -webkit-linear-gradient(#FFDE72, #FFB479);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 70px;
    margin-top:77px;
    line-height: 87px;
}

.img-titles {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13.5px;
    background: -webkit-linear-gradient(#FFDE72, #FFB479);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 70px;
}
.img-content {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-left: 70px;
    line-height: 20px;
    max-width:390px;
    color: #727272;
    margin-top: 10px;
}


.img-img {
    width: 563px;
    height: 461px;
    border-radius: 5%;
    margin-top: 75px;
    position: absolute;
    left: 48%;
    z-index: 1;
}

.home-sponsors {
    width: 100%;
    height: 720px;
}

.home-footer {
    background-color: #FFDE72;
    background-image: linear-gradient(#FFDE72, #FFB479);
    width: 100%;
    height: 272px;
}